// 显示动画
@keyframes am-show-af {
  0% {
    transform: perspective(500px) rotateX(45deg);
    opacity: 0
  }
  20% {
    transform: perspective(500px) rotateX(-7deg);
    opacity: 1
  }
  40% {
    transform: perspective(500px) rotateX(5deg);
    opacity: 1
  }
  60% {
    transform: perspective(500px) rotateX(-3deg);
    opacity: 1
  }
  80% {
    transform: perspective(500px) rotateX(1.5deg);
    opacity: 1
  }
  100% {
    transform: perspective(500px) rotateX(0deg);
    opacity: 1
  }
}

// 隐藏动画
@keyframes am-hide-af {
  0% {
    transform: perspective(500px) rotateX(0deg);
    opacity: 1;
  }
  60% {
    transform: perspective(500px) rotateX(20deg);
    opacity: 1;
  }
  100% {
    transform: perspective(500px) rotateX(-45deg);
    opacity: 0;
  }
}

// 引用显示
%am-show-af {
  transform: perspective(500px) rotateX(45deg);
  opacity: 0;
  transform-style: preserve-3d;
}

// 引用隐藏
%am-hide-af {
  transform: perspective(500px) rotateX(0deg);
  opacity: 1;
  transform-style: preserve-3d;
}

// 传参调用
@mixin am-view-af($time:350ms,$delay:100ms) {
  &.show, &[view="2"] {
    & > * {
      @extend %am-show-af;
      animation: am-show-af $time $delay both;
    }
  }

  &.hide, &[view="1"] {
    opacity: 0;
    transition: ($time+$delay)*(4/10) ($time+$delay)*(6/10);
    pointer-events: none;

    & > * {
      @extend %am-hide-af;
      animation: am-hide-af $time $delay both;
    }
  }

  &.none, &[view="0"] {
    display: none;
  }
}

// 动画时间
$time: 350ms;
$delay: 100ms;

// 全套引用
%am-view-af {
  &.show, &[view="2"] {
    & > * {
      @extend %am-show-af;
      animation: am-show-af $time $delay both;
    }
  }

  &.hide, &[view="1"] {
    opacity: 0;
    transition: ($time+$delay)*(4/10) ($time+$delay)*(6/10);
    pointer-events: none;

    & > * {
      @extend %am-hide-af;
      animation: am-hide-af $time $delay both;
    }
  }

  &.none, &[view="0"] {
    display: none;
  }
}
