// 显示动画
@keyframes am-show-ag {
  0% {
    opacity: 0;
    -webkit-transform: matrix3d(.7, 0, 0, 0, 0, .7, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(.7, 0, 0, 0, 0, .7, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  2.083333% {
    -webkit-transform: matrix3d(.75266, 0, 0, 0, 0, .76342, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(.75266, 0, 0, 0, 0, .76342, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  4.166667% {
    -webkit-transform: matrix3d(.81071, 0, 0, 0, 0, .84545, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(.81071, 0, 0, 0, 0, .84545, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  6.25% {
    -webkit-transform: matrix3d(.86808, 0, 0, 0, 0, .9286, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(.86808, 0, 0, 0, 0, .9286, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  8.333333% {
    -webkit-transform: matrix3d(.92038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(.92038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  10.416667% {
    -webkit-transform: matrix3d(.96482, 0, 0, 0, 0, 1.05202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(.96482, 0, 0, 0, 0, 1.05202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  12.5% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1.08204, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1.08204, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  14.583333% {
    -webkit-transform: matrix3d(1.02563, 0, 0, 0, 0, 1.09149, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.02563, 0, 0, 0, 0, 1.09149, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  16.666667% {
    -webkit-transform: matrix3d(1.04227, 0, 0, 0, 0, 1.08453, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.04227, 0, 0, 0, 0, 1.08453, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  18.75% {
    -webkit-transform: matrix3d(1.05102, 0, 0, 0, 0, 1.06666, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.05102, 0, 0, 0, 0, 1.06666, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  20.833333% {
    -webkit-transform: matrix3d(1.05334, 0, 0, 0, 0, 1.04355, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.05334, 0, 0, 0, 0, 1.04355, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  22.916667% {
    -webkit-transform: matrix3d(1.05078, 0, 0, 0, 0, 1.02012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.05078, 0, 0, 0, 0, 1.02012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  25% {
    -webkit-transform: matrix3d(1.04487, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.04487, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  27.083333% {
    -webkit-transform: matrix3d(1.03699, 0, 0, 0, 0, .98534, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.03699, 0, 0, 0, 0, .98534, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  29.166667% {
    -webkit-transform: matrix3d(1.02831, 0, 0, 0, 0, .97688, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.02831, 0, 0, 0, 0, .97688, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  31.25% {
    -webkit-transform: matrix3d(1.01973, 0, 0, 0, 0, .97422, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.01973, 0, 0, 0, 0, .97422, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  33.333333% {
    -webkit-transform: matrix3d(1.01191, 0, 0, 0, 0, .97618, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.01191, 0, 0, 0, 0, .97618, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  35.416667% {
    -webkit-transform: matrix3d(1.00526, 0, 0, 0, 0, .98122, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00526, 0, 0, 0, 0, .98122, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  37.5% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, .98773, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, .98773, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  39.583333% {
    -webkit-transform: matrix3d(.99617, 0, 0, 0, 0, .99433, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(.99617, 0, 0, 0, 0, .99433, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  41.666667% {
    -webkit-transform: matrix3d(.99368, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(.99368, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  43.75% {
    -webkit-transform: matrix3d(.99237, 0, 0, 0, 0, 1.00413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(.99237, 0, 0, 0, 0, 1.00413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  45.833333% {
    -webkit-transform: matrix3d(.99202, 0, 0, 0, 0, 1.00651, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(.99202, 0, 0, 0, 0, 1.00651, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  47.916667% {
    -webkit-transform: matrix3d(.99241, 0, 0, 0, 0, 1.00726, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(.99241, 0, 0, 0, 0, 1.00726, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  50% {
    opacity: 1;
    -webkit-transform: matrix3d(.99329, 0, 0, 0, 0, 1.00671, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(.99329, 0, 0, 0, 0, 1.00671, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  52.083333% {
    -webkit-transform: matrix3d(.99447, 0, 0, 0, 0, 1.00529, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(.99447, 0, 0, 0, 0, 1.00529, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  54.166667% {
    -webkit-transform: matrix3d(.99577, 0, 0, 0, 0, 1.00346, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(.99577, 0, 0, 0, 0, 1.00346, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  56.25% {
    -webkit-transform: matrix3d(.99705, 0, 0, 0, 0, 1.0016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(.99705, 0, 0, 0, 0, 1.0016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  58.333333% {
    -webkit-transform: matrix3d(.99822, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(.99822, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  60.416667% {
    -webkit-transform: matrix3d(.99921, 0, 0, 0, 0, .99884, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(.99921, 0, 0, 0, 0, .99884, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  62.5% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, .99816, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, .99816, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  64.583333% {
    -webkit-transform: matrix3d(1.00057, 0, 0, 0, 0, .99795, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00057, 0, 0, 0, 0, .99795, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  66.666667% {
    -webkit-transform: matrix3d(1.00095, 0, 0, 0, 0, .99811, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00095, 0, 0, 0, 0, .99811, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  68.75% {
    -webkit-transform: matrix3d(1.00114, 0, 0, 0, 0, .99851, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00114, 0, 0, 0, 0, .99851, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  70.833333% {
    -webkit-transform: matrix3d(1.00119, 0, 0, 0, 0, .99903, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00119, 0, 0, 0, 0, .99903, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  72.916667% {
    -webkit-transform: matrix3d(1.00114, 0, 0, 0, 0, .99955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00114, 0, 0, 0, 0, .99955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  75% {
    -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  77.083333% {
    -webkit-transform: matrix3d(1.00083, 0, 0, 0, 0, 1.00033, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00083, 0, 0, 0, 0, 1.00033, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  79.166667% {
    -webkit-transform: matrix3d(1.00063, 0, 0, 0, 0, 1.00052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00063, 0, 0, 0, 0, 1.00052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  81.25% {
    -webkit-transform: matrix3d(1.00044, 0, 0, 0, 0, 1.00058, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00044, 0, 0, 0, 0, 1.00058, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  83.333333% {
    -webkit-transform: matrix3d(1.00027, 0, 0, 0, 0, 1.00053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00027, 0, 0, 0, 0, 1.00053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  85.416667% {
    -webkit-transform: matrix3d(1.00012, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00012, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  87.5% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1.00027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1.00027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  89.583333% {
    -webkit-transform: matrix3d(.99991, 0, 0, 0, 0, 1.00013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(.99991, 0, 0, 0, 0, 1.00013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  91.666667% {
    -webkit-transform: matrix3d(.99986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(.99986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  93.75% {
    -webkit-transform: matrix3d(.99983, 0, 0, 0, 0, .99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(.99983, 0, 0, 0, 0, .99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  95.833333% {
    -webkit-transform: matrix3d(.99982, 0, 0, 0, 0, .99985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(.99982, 0, 0, 0, 0, .99985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  97.916667% {
    -webkit-transform: matrix3d(.99983, 0, 0, 0, 0, .99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(.99983, 0, 0, 0, 0, .99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }

  100% {
    opacity: 1;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }
}

// 隐藏动画
@keyframes am-hide-ag {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  30% {
    transform: scale(.95, 1.05);
    opacity: 1;
  }
  50% {
    transform: scale(1.03, .95);
    opacity: 1;
  }
  100% {
    transform: scale(0.3, 0.3);
    opacity: 0
  }
}

// 引用显示
%am-show-ag {
  transform: scale(0.7, 0.7);
  opacity: 0;
  transform-style: preserve-3d;
}

// 引用隐藏
%am-hide-ag {
  transform: scale(1, 1);
  opacity: 1;
  transform-style: preserve-3d;
}

// 传参调用
@mixin am-view-ag($time:550ms,$delay:100ms) {
  &.show, &[view="2"] {
    & > * {
      @extend %am-show-ag;
      animation: am-show-ag $time $delay both;
    }
  }

  &.hide, &[view="1"] {
    opacity: 0;
    transition: ($time+$delay)*(4/10) ($time+$delay)*(6/10);
    pointer-events: none;

    & > * {
      @extend %am-hide-ag;
      animation: am-hide-ag $time $delay both;
    }
  }

  &.none, &[view="0"] {
    display: none;
  }
}

// 动画时间
$time: 550ms;
$delay: 100ms;

// 全套引用
%am-view-ag {
  &.show, &[view="2"] {
    & > * {
      @extend %am-show-ag;
      animation: am-show-ag $time $delay both;
    }
  }

  &.hide, &[view="1"] {
    opacity: 0;
    transition: ($time+$delay)*(4/10) ($time+$delay)*(6/10);
    pointer-events: none;

    & > * {
      @extend %am-hide-ag;
      animation: am-hide-ag $time $delay both;
    }
  }

  &.none, &[view="0"] {
    display: none;
  }
}
