// 显示动画
@keyframes am-show-ad {
  0% {
    transform: scale(0.8, 0.8) translateY(100%);
    opacity: .8
  }
  45% {
    transform: scale(.8, .8) translateY(0);
    opacity: .8
  }
  50% {
    transform: scale(.8, .8) translateY(0);
    opacity: 1
  }
  100% {
    transform: scale(1, 1) translateY(0);
    opacity: 1
  }
}

// 隐藏动画
@keyframes am-hide-ad {
  0% {
    transform: scale(1, 1) translateY(0);
    opacity: 1
  }
  50% {
    transform: scale(.8, .8) translateY(0);
    opacity: .8
  }
  100% {
    transform: scale(.8, .8) translateY(-100%);
    opacity: 0
  }
}

// 引用显示
%am-show-ad {
  transform: scale(0.8, 0.8) translateY(100%);
  opacity: .8;
  transform-style: preserve-3d;
}

// 引用隐藏
%am-hide-ad {
  transform: scale(1, 1) translateY(0);
  opacity: 1;
  transform-style: preserve-3d;
}

// 传参调用
@mixin am-view-ad($time:350ms,$delay:100ms) {
  &.show, &[view="2"] {
    & > * {
      @extend %am-show-ad;
      animation: am-show-ad $time $delay both;
    }
  }

  &.hide, &[view="1"] {
    opacity: 0;
    transition: ($time+$delay)*(4/10) ($time+$delay)*(6/10);
    pointer-events: none;

    & > * {
      @extend %am-hide-ad;
      animation: am-hide-ad $time $delay both;
    }
  }

  &.none, &[view="0"] {
    display: none;
  }
}

// 动画时间
$time: 350ms;
$delay: 100ms;

// 全套引用
%am-view-ad {
  &.show, &[view="2"] {
    & > * {
      @extend %am-show-ad;
      animation: am-show-ad $time $delay both;
    }
  }

  &.hide, &[view="1"] {
    opacity: 0;
    transition: ($time+$delay)*(4/10) ($time+$delay)*(6/10);
    pointer-events: none;

    & > * {
      @extend %am-hide-ad;
      animation: am-hide-ad $time $delay both;
    }
  }

  &.none, &[view="0"] {
    display: none;
  }
}
