// 显示动画
@keyframes am-show-am {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0) scale3d(1, 1, 1);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0%, 0) scale3d(1, 1, 1);
  }
}

// 隐藏动画
@keyframes am-hide-am {
  0% {
    opacity: 1;
    transform: translate3d(0, 0%, 0) scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 100%, 0) scale3d(1, 1, 1);
  }
}

// 引用显示
%am-show-am {
  transform: translate3d(0, -150%, 0);
  opacity: 0;
  transform-style: preserve-3d;
}

// 引用隐藏
%am-hide-am {
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  opacity: 0;
  transform-style: preserve-3d;
}

// 传参调用
@mixin am-view-am($time:450ms,$delay:100ms) {
  &.show, &[view="2"] {
    & > * {
      @extend %am-show-am;
      animation: am-show-am $time $delay both;
    }
  }

  &.hide, &[view="1"] {
    opacity: 0;
    transition: ($time+$delay)*(4/10) ($time+$delay)*(6/10);
    pointer-events: none;

    & > * {
      @extend %am-hide-am;
      animation: am-hide-am $time $delay both;
    }
  }

  &.none, &[view="0"] {
    display: none;
  }
}

// 动画时间
$time: 450ms;
$delay: 100ms;

// 全套引用
%am-view-am {
  &.show, &[view="2"] {
    & > * {
      @extend %am-show-am;
      animation: am-show-am $time $delay both;
    }
  }

  &.hide, &[view="1"] {
    opacity: 0;
    transition: ($time+$delay)*(4/10) ($time+$delay)*(6/10);
    pointer-events: none;

    & > * {
      @extend %am-hide-am;
      animation: am-hide-am $time $delay both;
    }
  }

  &.none, &[view="0"] {
    display: none;
  }
}
