// 显示动画
@keyframes am-show-ab {
  0% {
    transform: scale3d(0.8, 0.8, 1);
    opacity: 0;
  }
  70% {
    transform: scale3d(1.02, 1.02, 1);
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

// 隐藏动画
@keyframes am-hide-ab {
  0% {
    transform: scale3d(1, 1, 1);
  }
  40%, 50% {
    transform: scale3d(1.05, 1.05, 1);
    opacity: 1;
  }
  100% {
    transform: scale3d(0.8, 0.8, 1);
    opacity: 0
  }
}

// 引用显示
%am-show-ab {
  transform: scale3d(0.8, 0.8, 1);
  opacity: 0;
  transform-style: preserve-3d;
}

// 引用隐藏
%am-hide-ab {
  transform: scale3d(1, 1, 1);
  opacity: 1;
  transform-style: preserve-3d;
}

// 传参调用
@mixin am-view-ab($time:350ms,$delay:100ms) {
  &.show, &[view="2"] {
    & > * {
      @extend %am-show-ab;
      animation: am-show-ab $time $delay both;
    }
  }

  &.hide, &[view="1"] {
    opacity: 0;
    transition: ($time+$delay)*(4/10) ($time+$delay)*(6/10);
    pointer-events: none;

    & > * {
      @extend %am-hide-ab;
      animation: am-hide-ab $time $delay both;
    }
  }

  &.none, &[view="0"] {
    display: none;
  }
}

// 动画时间
$time: 350ms;
$delay: 100ms;

// 全套引用
%am-view-ab {
  &.show, &[view="2"] {
    & > * {
      @extend %am-show-ab;
      animation: am-show-ab $time $delay both;
    }
  }

  &.hide, &[view="1"] {
    opacity: 0;
    transition: ($time+$delay)*(4/10) ($time+$delay)*(6/10);
    pointer-events: none;

    & > * {
      @extend %am-hide-ab;
      animation: am-hide-ab $time $delay both;
    }
  }

  &.none, &[view="0"] {
    display: none;
  }

}
