// 显示动画
@keyframes am-show-aa {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

// 隐藏动画
@keyframes am-hide-aa {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

// 引用显示
%am-show-aa {
  opacity: 0;
  transform-style: preserve-3d;
}

// 引用隐藏
%am-hide-aa {
  opacity: 1;
  transform-style: preserve-3d;
}

// 传参调用
@mixin am-view-aa($time:350ms,$delay:100ms) {
  &.show, &[view="2"] {
    & > * {
      @extend %am-show-aa;
      animation: am-show-aa $time $delay both;
    }
  }

  &.hide, &[view="1"] {
    opacity: 0;
    transition: $time $delay;
    pointer-events: none;

    & > * {
      @extend %am-hide-aa;
      animation: am-hide-aa $time $delay both;
    }
  }

  &.none, &[view="0"] {
    display: none;
  }
}

// 动画时间
$time: 350ms;
$delay: 100ms;

// 全套引用
%am-view-aa {
  &.show, &[view="2"] {
    & > * {
      @extend %am-show-aa;
      animation: am-show-aa $time $delay both;
    }
  }

  &.hide, &[view="1"] {
    opacity: 0;
    transition: $time $delay;
    pointer-events: none;

    & > * {
      @extend %am-hide-aa;
      animation: am-hide-aa $time $delay both;
    }
  }

  &.none, &[view="0"] {
    display: none;
  }
}
