// 显示动画
@keyframes am-show-ah {
  0% {
    opacity: 0;
    transform: scale3d(3, 3, 1)
  }
  50% {
    opacity: 1;
    transform: scale3d(.9, .9, 1)
  }
  60% {
    opacity: 1;
    transform: scale3d(1.05, 1.05, 1)
  }
  70% {
    opacity: 1;
    transform: scale3d(.95, .95, 1)
  }
  80% {
    opacity: 1;
    transform: scale3d(1.02, 1.02, 1)
  }
  90% {
    opacity: 1;
    transform: scale3d(.98, .98, 1)
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1)
  }
}

// 隐藏动画
@keyframes am-hide-ah {
  0% {
    opacity: 1;
    transform: scale3d(1, 1, 1)
  }
  60% {
    opacity: 1;
    transform: scale3d(.8, .8, 1)
  }
  100% {
    opacity: 0;
    transform: scale3d(2, 2, 1)
  }
}

// 引用显示
%am-show-ah {
  opacity: 0;
  transform: scale3d(3, 3, 1);
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
}

// 引用隐藏
%am-hide-ah {
  opacity: 1;
  transform: scale3d(1, 1, 1);
  transform-style: preserve-3d;
}

// 传参调用
@mixin am-view-ah($time:450ms,$delay:100ms) {
  &.show, &[view="2"] {
    & > * {
      @extend %am-show-ah;
      animation: am-show-ah $time $delay both;
    }
  }

  &.hide, &[view="1"] {
    opacity: 0;
    transition: ($time+$delay)*(4/10) ($time+$delay)*(6/10);
    pointer-events: none;

    & > * {
      @extend %am-hide-ah;
      animation: am-hide-ah $time $delay both;
    }
  }

  &.none, &[view="0"] {
    display: none;
  }
}

// 动画时间
$time: 450ms;
$delay: 100ms;

// 全套引用
%am-view-ah {
  &.show, &[view="2"] {
    & > * {
      @extend %am-show-ah;
      animation: am-show-ah $time $delay both;
    }
  }

  &.hide, &[view="1"] {
    opacity: 0;
    transition: ($time+$delay)*(4/10) ($time+$delay)*(6/10);
    pointer-events: none;

    & > * {
      @extend %am-hide-ah;
      animation: am-hide-ah $time $delay both;
    }
  }

  &.none, &[view="0"] {
    display: none;
  }
}
